/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    /* background:rgb(186, 188, 189); */
  }
    .first{
      background-color: #007bff;
    }
    .navbar-brand, .nav-link{
      color:white;
    }
    .nav-link:hover{
      background-color: #007bff;
      color:black;
  
    }
    .form-control:focus
    {
      border:rgb(199, 197, 197);
      box-shadow: 0 0 0 0.2rem #007bff;
    }
    /* .btn-danger{
      background-color: #c71023;
    }
    .btn-danger:hover{
      background-color: #007bff;
    } */
    input{
      border-radius: 5px;
    }
    .container{
      background-color: #ffffff;
      padding-left:40px;
      width:98%;
  
    }